<p id="notice"><%= notice %></p>
  <div class="row">
    <div class="col-md-5">
      <div class="card">
        <img class="card-img-top" src="<%= @profile.profile_pic %>" alt="Card image cap" class="img-fluid">
      <div class="card-block">
        <h3 class="card-title"><%= @profile.full_name %></h3>
          <p class="card-text"><br><h5>A bit about you</h5><%= @profile.bio %></p>
      </div>
  <ul class="list-group list-group-flush">
      <li class="list-group-item">Gender: <%= @profile.gender %></li>
      <li class="list-group-item">Date of Birth: <%= @profile.dob.strftime('%d, %b, %y') %></li>
      <li class="list-group-item">Phone Number:<%= @profile.phone %></li>
      <li class="list-group-item">Street: <%= @profile.street %></li>
      <li class="list-group-item">Suburb: <%= @profile.suburb %></li>
      <li class="list-group-item">City: <%= @profile.city %></li>
      <li class="list-group-item">Country: <%= ISO3166::Country[@profile.country] %></li>
  </ul>
      <div class="card-block">
    <% if @profile.user = current_user %>
    <%= link_to 'Edit Profile', edit_profile_path(@profile) , class: 'btn btn-primary btn-sm'%>
    <% end %>
  </div>
  </div>
</div>
</div>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
